.rotate {
  animation: rotate 400ms infinite;
  transition: all 400ms ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5000;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0,0,0,.3);
  z-index: 1000;
}
