// Imports
@import "custom-theme";
@import "helpers";
@import "alerts";

// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat.core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $client-primary: mat.define-palette(mat.$indigo-palette);
// $client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $client-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $client-theme: mat.define-light-theme((
//   color: (
//     primary: $client-primary,
//     accent: $client-accent,
//     warn: $client-warn,
//   )
// ));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($client-theme);

/* You can add global styles to this file, and also import other style files */
body, html, #app {
  background: rgba(33, 37, 41, 1.00);
  color: #f1f1f1;
}

.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none !important;
  color: #bbb !important;
  &:hover {
    color: #f1f1f1 !important;
    cursor: default;
  }
}

.mat-mdc-list-item {
  &:hover {
    background: rgba(150,150,150,.1) !important;
  }
}

input:not[type="submit"] {
  background-color: #ffffff;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.hidden {
  display: none;
}

li {
  color: #bbb !important;
  list-style: none;
  &:hover {
    background: rgba(0,0,0,1.0);
    border-radius: 4px;
    color: #f1f1f1 !important;
  }
}

button, .btn {
  &:hover {
    cursor: default;
  }
}

.bg-trans {
  background: transparent !important;
}

.card-dark {
  background: rgba(30, 30, 30, 1.00) !important;
  padding: 2rem;
  color: #f1f1f1;
}

.form-control-dark {
  background-color: rgba(38, 50, 56, 1.00) !important;
  color: #f1f1f1 !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  &:focus {
    box-shadow: inset 0 0 0.3em rgba(0, 150, 136, 1.00) !important;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around !important;
  margin: auto;
}
