<div id="app">
  <mat-drawer-container class="container" autosize>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
          mat-icon-button
          class="icon"
          aria-label="Example icon-button with menu icon"
          (click)="drawer.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>

        <span>{{ title }}</span>

        <span class="spacer"></span>

        <!-- <mat-icon class="mr-8">brightness_5</mat-icon> -->
        <mat-icon>bedtime</mat-icon>
        <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
        </mat-slide-toggle>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <!-- <span>{{ pageTitle }}</span> -->
        <span class="spacer"></span>
        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button> -->

        <span style="font-size: smaller; font-weight: 100">Status:</span>

        <button
          *ngIf="isOnline"
          mat-flat-button
          color="primary"
          style="
            margin-right: 1rem;
            color: rgba(0, 150, 136, 1.00);
            font-weight: bold;
            text-transform: uppercase;
          "
        >
          <mat-icon
            matTooltip="System ONLINE"
            class="mat-14"
            style="color: rgba(0, 150, 136, 1.00)"
          >
            fiber_manual_record
          </mat-icon>
          Online
        </button>

        <button
          *ngIf="!isOnline"
          mat-flat-button
          color="primary"
          style="
            margin-right: 1rem;
            color: rgba(255, 64, 129, 1.00);
            font-weight: bold;
            text-transform: uppercase;"
        >
          <mat-icon
            matTooltip="System OFFLINE"
            class="mat-18"
            style="color: rgba(255, 64, 129, 1.00); margin-right: 1rem"
          >
            fiber_manual_record
          </mat-icon>
          Offline
        </button>

        <span *ngIf="!isLoggedIn">
          <button
            mat-flat-button
            color="primary"
            class="nav-btn"
            routerLink="register"
          >
            Register
          </button>
          <button
            mat-flat-button
            color="primary"
            class="nav-btn"
            routerLink="login"
          >
            Login
          </button>
        </span>

        <button mat-button [matMenuTriggerFor]="matMenu" *ngIf="isLoggedIn">
          {{ username }}
        </button>
        <mat-menu #matMenu>
          <button mat-menu-item routerLink="profile" *ngIf="isLoggedIn">
            Profile
          </button>
          <button mat-menu-item routerLink="admin" *ngIf="showAdminBoard">
            Admin Board
          </button>
          <button mat-menu-item routerLink="mod" *ngIf="showModeratorBoard">
            Moderator Board
          </button>
          <button mat-menu-item routerLink="user" *ngIf="showUserBoard">
            User Board
          </button>
          <mat-divider></mat-divider>
          <button
            mat-flat-button
            color="accent"
            (click)="logout()"
            class="logout-btn"
          >
            Logout
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-drawer #drawer class="sidenav" mode="over">
      <div class="sidenav-content">
        <h2>{{ title }}</h2>
        <p>Welcome on {{ title }}</p>
        <mat-divider> </mat-divider>
        <mat-list role="list">
          <mat-list-item role="listitem" routerLink="home">Home</mat-list-item>
          <mat-list-item role="listitem" routerLink="tutorials"
            >Tutorials</mat-list-item
          >
          <mat-list-item role="listitem" routerLink="contact"
            >Contact</mat-list-item
          >
          <mat-list-item role="listitem" routerLink="imprint"
            >Imprint</mat-list-item
          >
          <mat-list-item role="listitem" routerLink="privacy"
            >Privacy</mat-list-item
          >
        </mat-list>
      </div>
    </mat-drawer>

    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>
<!-- /app -->
