<div style="position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%);">
  <div
  style="
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
  "
>
  <mat-icon
    class=""
    style="color: green; font-size: 150px; width: 150px; height: 150px"
    >task_alt</mat-icon
  >

  <h1 style="color: green; font-weight: 400;">Success! All things going well!</h1>



  <!-- <button mat-flat-button color="accent" style="margin-top: 3rem;" onclick="history.back()">
    <mat-icon>arrow_back</mat-icon>
    Go Back
  </button> -->
  </div>
</div>

<div style="position: absolute; text-align: center; margin: auto; left: 50%; top: 95%; transform: translate(-50%, -95%);">
  <h2>Where do you want to go now?</h2>

  <div style="display: flex; flex-direction: row; flex-wrap: nowrap; margin: auto; justify-content: space-around;">
      <button mat-flat-button routerLink="/home" color="accent">Home</button>
      <button mat-flat-button routerLink="/tutorials" color="accent">Tutorials</button>
      <button mat-flat-button routerLink="/contact" color="accent">Contact</button>
  </div>

</div>

