.card {
  max-width: 400px;
}

.header-image {
  background-image: url('https://ssl.gstatic.com/accounts/ui/avatar_2x.png');
  background-size: cover;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
