<!-- <form
  #myForm="ngForm"
  (ngSubmit)="onSubmit(myForm, $event)"
  class="contact-form"
>
  <h2>Contact</h2>
  <mat-form-field class="full-width">
    <mat-label>Name</mat-label>
    <input matInput type="text" name="user_name" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email" name="user_email" required />
  </mat-form-field>

  <mat-form-field class="full-width" floatPlaceholder="auto">
    <mat-label>Your Message</mat-label>
    <textarea
      matInput
      matTextareaAutosize
      required
      rows="15"
      placeholder=""
    ></textarea>
  </mat-form-field>

  <button mat-flat-button class="half-width" color="accent">
    <mat-icon>send</mat-icon>
    Send Your Message
  </button>
</form> -->

<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->
<form
#myForm = "ngForm"
(ngSubmit)="onSubmit(myForm, $event)">

<h2 class="contact-form">Contact</h2>
<p class="contact-form" style="margin-top: .1rem;">Feel free to drop us a line.</p>

<mat-stepper orientation="vertical" [linear]="isLinear" #stepper class="contact-form">

  <mat-step [stepControl]="firstFormGroup">
    <div [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" type="text" name="user_name" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <div [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your email</ng-template>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Emai</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" type="email" name="user_email" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <div [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Fill in your messages</ng-template>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Message</mat-label>
        <textarea
        matInput
        matTextareaAutosize
        formControlName="thirdCtrl"
        required
        rows="10"
        placeholder="Ex. Hello. I'm John Doe..."
        name="message"
      ></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <button mat-flat-button class="half-width" color="accent" type="submit">
      <mat-icon>send</mat-icon>
      Send Your Message
    </button>
    <div>
      <button mat-button matStepperPrevious type="button">Back</button>
      <button mat-button (click)="stepper.reset()" type="button">Reset</button>
    </div>
  </mat-step>
</mat-stepper>

</form>

