<ng-template [ngIf]="content == 'Moderator Board'" [ngIfElse]="loggedOut">
  <h1>Welcome {{ currentUser.username }}</h1>
  <button mat-flat-button routerLink="/add">Add Tutorial</button>
</ng-template>

<ng-template #loggedOut>
  <mat-card class="alert-danger">
    <mat-card-content><h3>{{ content }}</h3></mat-card-content>
  </mat-card>
  <mat-card class="alert-warning">
    <mat-card-content><h3>Please login and verify that you have the correct role. Thank you.</h3></mat-card-content>
  </mat-card>
</ng-template>

